@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { font-family: 'Cafe24Ohsquare'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff'); font-weight: normal; font-style: normal; }

body{ 
    font-family: 'MapoFlowerIsland';
    text-align: center;
}

body h1 {
    font-family: 'Cafe24Ohsquare';
}